*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.flex-box{
    display: flex;
   margin-top: 10px;
 
   

}
.box{
    width: 23%;
    margin: 5px;
    text-align: center;
    background-color: rgb(243, 222, 222);
    padding: 15px;
    border-top: 2px solid blue;
    flex-wrap: wrap;
   
}

.first-p{
    margin-bottom: 5px;
}
.first-card-green{
    color: green;
    margin-top: 15px;
    
}
.fa-square-facebook{
    color: #0862F7;
}
.fa-square-instagram{
    color: #D04276;
    /* background-color: white; */
}
.fa-youtube{
    
    color: #F70000;
}

div.bt-color{
    border-top-color: #F70000;
}
/* section 2 */
.main-box{
    display: flex;
    justify-content: space-between;
    /* gap: 15px; */
}
.main-2-box{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
   
}
.content-size{
    font-size: 13px;
}
.fa-sort-up{
position: relative;
top: 5px;
color: green;
}
.percent-red{
    color: red !important;
}
.percent{
    color: green;
}
.fa-twitter{
    color: #0862F7;
}
@media (max-width:768px;)(min-width:400px) {
    .container{
        max-width: 60%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .flex-box{
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
    }
    .box{
        width: 23%;
        margin: 5px;
        text-align: center;
        background-color: rgb(243, 222, 222);
        padding: 15px;
        border-top: 2px solid blue;
        flex-wrap: wrap;
    }

    
}